{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
        {% block title %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block style %}

    {% endblock %}

</head>
<body>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" style="font-size:30px" href="{% url "tagpage" %}"><b>Q</b>uoz</a>
    </div>
  </div>
</nav>
      {% block content %}


      {% endblock %}
  </div>
</nav>

</body>
</html>